.button__custom{
  border-radius: 30px;
  background: var(--primary-bg-color);
  border: solid 2px var(--yellow-1);
  width: 100px;
  height: 45px;
  margin:var(--general-margin)
}
.button__custom:hover{
  background: var(--yellow-1);
  cursor: pointer;
}
.button__custom:active{
  background: var(--yellow-2);
}
.button__custom:disabled{
  filter: grayscale(60%);
  background: var(--yellow-1);
  cursor:default;
}
