.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__button{
  padding:var(--small_padding); 
  border-radius: var(--standard_measure);
  background-color: var(--white);
  margin: var(--standard_measure);
}
.container__button--blue{
  background-color:var(--white);
  border: 2px solid;
  border-color: var(--light_blue);
}

.container__button--blue:hover{
  transition:0.5s;
  background-color: var(--light_blue);
  font-weight:var(--bold);
  color: var(--white);
}
.container__button--blue--inactive{
  border-color: var(--light_blue);
  background-color: var(--light_blue);
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}

.container__button:focus{
  color: var(--white);
  font-weight: var(--bold);
}
.container__button--blue:focus{
  background-color: var(--mid_blue);
}
