:root {
  --black:  #000000;
  --white:  #ffffff;
  --gray:   #bdbdbd;
  
  --yellow-100:    #ffe21d;
  --yellow-200:    #ffd21d;
  --blue-100:      #24afff;
  --blue-200:      #248bff;
  --pink:          #f26c6c;
  --green:         #27b667;
}
