:root{
  /* colors */
  --primary-bg-color: #f5f3f3;
  --secondary-bg-color: #5683ff;
  --primary-font-color: #151541;
  --secondary-font-color: #46468b;
  --yellow-1: #ffe21d;
  --yellow-2: #ffd21d;
  --light-blue: #24afff;
  --blue: #248bff;
  --red: #f26c6c;
  --green: #27b667;
  --alert-color: #ebd2d2;
  --successful-color: #d3ecd3;
  --attention-color:#e0d7b2; 
  /* element margins */
  --title-margin: 10px 20px 5px 15px;
  --sub-title-margin: 20px 8px 5px 5px;
  --general-margin: 20px;
  --general-padding: 45px;
  /* font */
  --font-style: 'Montserrat', sans-serif;
  --title-font-size: 30px;
  --main-font-size: 17px;
}
